@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

/* * reason: all (paddings, margins and etc.) looks better */
body {
  min-width: 320px;
}

@layer components {
  /* * header styles */

  .header-link {
    @apply hidden md:block font-montserrat font-bold text-white cursor-pointer select-none active:opacity-80
  }
  /* * section (blocks) styles*/

  /* * views */
  .section-container {
    @apply flex justify-center w-full py-greetings bg-white
  }
  .section-content {
    @apply flex flex-col w-full max-w-[1680px] px-[3vw]
  }
  .section-header {
    @apply flex flex-col justify-between items-center lg:items-stretch gap-4 [&>:not(:first-child)]:lg:ml-1
  }

  /* * elements */
  .section-stripe {
    @apply hidden lg:block w-full lg:w-24 mb-3 border-4
  }
  .section-title {
    @apply font-montserrat font-bold text-center lg:text-left text-4xl text-dark-background uppercase select-none 
  }
  .section-description {
    @apply max-w-[352px] lg:max-w-none text-center lg:text-left text-sm text-secondary
  }
  .panel-icon {
    @apply h-10 w-10 p-2 rounded-3xl bg-white opacity-80 active:opacity-75 cursor-pointer;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');